body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 100%;
    padding: 0;
}

.grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: auto;
}

video {
    width: 100%;
}

ul{
    padding-left: 3px !important;
    padding-right: 3px !important;
    bottom: 30px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

ul li video{
    transition: all 0.3s;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.events {
    margin-bottom: 15px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: auto;
    color: white;
}

.col-4 > button {
    width: 320px;
    height: auto;
    padding: 10px 30px;
    margin: 5px;
    float: right;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.table {align-items: center;}
p, h6 {margin-bottom: 0;}
.col-5 {padding: 0;}
svg {margin: 0 5px 5px 0;}

.col-2 > span {
    font-size: 32px;
    font-weight: bold;
}

.col > svg {
    float: right;
    margin-right: 10px;
    margin-bottom: 0;
}

.social-header, .social-main {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: auto;
    color: white;
    grid-row-gap: 20px;
}

.col-2 > button, .load {
    width: 125px;
    height: auto;
    padding: 10px;
    margin: 5px;
    float: right;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.load {
    border-radius: 10px;
    margin: 20px;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-carousel .image-list {
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(9, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
}

.social-carousel .image-list .image-item {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.social-carousel .image-list::-webkit-scrollbar {
    display: none;
}

.social-carousel {
    width: 1100px;
    position: relative;
}

.social-carousel .slide-button {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    color: aliceblue;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.social-carousel .slide-button:hover {
    background: #444;
}

.social-carousel .slide-button#prev-slide {
    left: -20px;
}

.social-carousel .slide-button#next-slide {
    right: -20px;
}

.social-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    height: auto;
}

.left-group {
    position: relative;
    width: 50%;
}

.left-group > img {
    position: relative;
    width: 100%;
    height: 250px;
}

.right-group {
    padding: 20px;
    margin: 10px;
    color: white;
}

.view {
    width: 100px;
    height: auto;
    padding: 7px;
    margin-top: 7px;
    background: transparent;
    border: 1px solid white;
    color: white;
}